# NextAuth Configuration
NEXTAUTH_URL=https://prabodhportfolio.com
NEXTAUTH_SECRET=your-secret-key-here

# Admin Credentials
ADMIN_EMAIL=your-admin-email@example.com
ADMIN_PASSWORD=your-secure-password-here
